* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Fira Code";
  width: 100vw;
  font-size: 16px;
}

button {
  font-family: "Fira Code";
}

.top {
  height: 100vh;
  width: 100vw;
  background: center/cover url("../img/bg-top.jpg");
}

.wrapper-info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 20px;
  background: rgba(41, 41, 41, 0.5);
}

.menu .brand {
  color: #fff;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger,
.navigation {
  -webkit-transition: -webkit-transform .3s .1s ease-in-out;
  transition: -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
  -webkit-transform: translatex(250px);
          transform: translatex(250px);
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.navigation__list {
  list-style: none;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height .8s ease-in-out;
  transition: max-height .8s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .navigation__list {
    max-height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navigation__item {
  border-bottom: 1px solid black;
  margin: 0%;
  text-align: center;
  padding: 15px 20px;
}

.navigation__item:last-child() {
  border: none;
}

.navigation__item a {
  color: #fff;
  text-decoration: none;
}

.navigation--active {
  max-height: 500px;
}

.box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 20px;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 768px) {
  .box-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.box-info h1 {
  color: #fff;
}

.btn {
  padding: 15px 25px;
  background: black;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  margin: 40px 0;
}
/*# sourceMappingURL=style.css.map */